{{define "title"}}Log-in{{end}}
{{define "content"}}
<form action="" method="POST">
    <p>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" {{if .Content}}value="{{.Content.Username}}"{{end}}>
    </p>

    <p>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </p>

    {{if .Content}}
    <p class="red">{{.Content.Error}}</p>
    {{end}}

    <p>
        <input type="submit" value="Log-in">
    </p>
</form>
{{end}}
